<details class="group rounded-lg border border-stroke bg-white">
  <summary
    class="flex cursor-pointer items-center justify-between gap-4 p-4 list-none hover:bg-gray-50 focus:outline-none focus-visible:ring-2 focus-visible:ring-black"
  >
    <h3 class="text-(--size-16) font-medium tracking-wide uppercase">
      {{ title }}
    </h3>
    <span class="relative h-4 w-4 shrink-0">
      <svg class="absolute inset-0 h-4 w-4 transition-opacity duration-200 group-open:opacity-0">
        <use href="{{ 'sprite.svg' | asset_url }}#plus"></use>
      </svg>
      <svg class="absolute inset-0 h-4 w-4 opacity-0 transition-opacity duration-200 group-open:opacity-100">
        <use href="{{ 'sprite.svg' | asset_url }}#minus"></use>
      </svg>
    </span>
  </summary>
  <div class="px-4 pb-4 text-sm leading-relaxed text-gray">
    {{ content | metafield_tag }}
  </div>
</details>
