<nav class="mb-4 text-sm text-gray">
  <a href="{{ routes.root_url }}" class="hover:text-black">Home</a>
  <span class="mx-1">/</span>
  <span class="product__breadcrumb-title text-dark">{{ product.title }}</span>
</nav>
