<ul class="mb-4 space-y-3 text-sm">
  <li class="flex items-start gap-2">
    <svg
      class="mt-0.5 h-4 w-4 shrink-0"
      aria-hidden="true"
    >
      <use href="{{ 'sprite.svg' | asset_url }}#shipping"></use>
    </svg>
    <p class="leading-snug">
      Free U.S. Shipping Over $150
    </p>
  </li>
  <li class="flex items-start gap-2">
    <svg
      class="mt-0.5 h-4 w-4 shrink-0"
      aria-hidden="true"
    >
      <use href="{{ 'sprite.svg' | asset_url }}#checkout"></use>
    </svg>
    <p class="leading-snug">
      Safe &amp; Secure Checkout
    </p>
  </li>
  <li class="flex items-start gap-2">
    <svg
      class="mt-0.5 h-4 w-4 shrink-0"
      aria-hidden="true"
    >
      <use href="{{ 'sprite.svg' | asset_url }}#afterpay"></use>
    </svg>
    <p class="leading-snug">
      Afterpay available at checkout
    </p>
  </li>
</ul>
