{% assign button_label = label | default: 'Add to cart' %}
<button
  type="submit"
  class="product__add-to-cart mb-4 flex h-14 w-full items-center justify-center rounded-lg bg-dark px-8 text-sm font-medium text-white transition-colors hover:bg-gray"
>
  {{ button_label }}
</button>
