{% assign product = section.settings.product | default: product %}

{% if product %}
<section class="product-accordion pt-8 pb-10">
  <div class="container">
    <div class="w-full md:ml-auto md:mr-0 md:max-w-(--size-612) space-y-2">

      {% assign size_fit = product.metafields.custom.size_fit %}
      {% assign product_notes = product.metafields.custom.product_notes %}
      {% assign delivery_returns = product.metafields.custom.delivery_returns %}

      {% for i in (1..3) %}
        {% case i %}

          {% when 1 %}
            {% if size_fit != blank %}
              {% render 'accordion-item',
                title: 'SIZE & FIT',
                content: size_fit
              %}
            {% endif %}

          {% when 2 %}
            {% if product_notes != blank %}
              {% render 'accordion-item',
                title: 'PRODUCT NOTES',
                content: product_notes
              %}
            {% endif %}

          {% when 3 %}
            {% if delivery_returns != blank %}
              {% render 'accordion-item',
                title: 'DELIVERY & RETURNS',
                content: delivery_returns
              %}
            {% endif %}

        {% endcase %}
      {% endfor %}

    </div>
  </div>
</section>
{% endif %}

{% schema %}
{
  "name": "Accordion",
  "tag": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "Accordion"
    }
  ]
}
{% endschema %}
