<script src='{{ 'footer.js' | asset_url }}' defer></script>

{% assign resources_links = "Find a Store|Nike Journal|Become a Member|Feedback|Promo Codes" | split: "|" %}
{% assign help_links = "Get Help|Order Status|Shipping and Delivery|Returns|Payment Options" | split: "|" %}
{% assign company_links = "About Nike|News|Careers|Investors|Sustainability" | split: "|" %}
{% assign menu_links = "New & Featured|Men|Women|Kids" | split: "|" %}

<div
  class="footer container px-4 md:px-15 pt-15 pb-12"
  data-sprite-url="{{ 'sprite.svg' | asset_url }}"
>
  <div
    class="grid grid-cols-1 gap-0 mb-12 md:grid-cols-2 md:gap-6 xl:grid-cols-4 xl:gap-8"
  >
    {% render 'footer-column', title: 'Resources', links: resources_links %}
    {% render 'footer-column', title: 'Help', links: help_links %}
    {% render 'footer-column', title: 'Company', links: company_links %}
    {% render 'footer-column', title: 'Menu', links: menu_links %}
  </div>

  <div
    class="flex flex-wrap items-center gap-y-3 gap-x-8 max-(--size-480):flex-col max-(--size-480):items-start max-(--size-480):gap-3"
  >
    <small class="text-sm text-gray"
      >© <span class="js-year"></span> Stellar Soft</small
    >
    <span class="text-sm text-gray"
      >Terms of Use</span
    >
    <span class="text-sm text-gray"
      >Privacy &amp; Cookie Policy</span
    >
    <span class="text-sm text-gray"
      >Privacy &amp; Cookie Setting</span
    >
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "settings": [],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
