@import "tailwindcss";

@theme {
  --color-dark: #111111;
  --color-white: #ffffff;
  --color-gray: #737373;
  --color-gray-light: #cacacb;
  --color-stroke: #ebebeb;
  --color-old-price: #c62828;

  --size-16: 16px;
  --size-480: 480px;
  --size-612: 612px;
}

@utility container {
  margin-inline: auto;
  width: 100%;
  max-width: 1440px;
  padding-inline: 16px;

  @media (min-width: 1440px) {
    padding-inline: 60px;
  }
}

.reviews-slider .swiper {
  overflow: hidden;
}

.reviews-slider .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: var(--color-gray-light);
  opacity: 1;
}

.reviews-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-dark);
}
