@import "tailwindcss";

@theme {
  --color-dark: #111111;
  --color-white: #ffffff;
  --color-gray: #737373;
  --color-gray-light: #cacacb;
  --color-stroke: #ebebeb;
  --color-old-price: #c62828;

  --size-16: 16px;
  --size-24: 24px;
  --size-30: 30px;
  --size-52: 52px;
  --size-88: 88px;
  --size-126: 126px;
  --size-156: 156px;
  --size-312: 312px;
  --size-343: 343px;
  --size-480: 480px;
  --size-500: 500px;
  --size-536: 536px;
  --size-612: 612px;
  --size-648: 648px;
}

@layer base {
  body {
    font-weight: 400;
    font-size: var(--size-16);
    line-height: var(--size-24);
    color: var(--color-dark);
  }

  button,
  [role="button"],
  a {
    cursor: pointer;
  }
}

@utility container {
  margin-inline: auto;
  width: 100%;
  max-width: 1440px;
  padding-inline: 16px;

  @media (min-width: 1440px) {
    padding-inline: 60px;
  }
}


.reviews-slider .swiper {
  overflow: hidden;
}

.reviews-slider .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: var(--color-gray-light);
  opacity: 1;
}

.reviews-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-dark);
}
